:root{
    --bisque: #F8F0E5;
    --dark: #EADBC8;
    --blue: #102C57;
    --brown: #76453B;
    --icon: url("assets/user_icon.png");
    --navbar-height: 75px;
}

.User_Icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.User_Name{
    color: var(--bisque);
    font-size: 20px;
    margin-bottom: 0%;
}

.User_Area{
    display: flex;
    align-items: center;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.dropdown-menu{
    background-color: var(--blue);
    /* background: linear-gradient(to bottom, var(--blue), var(--brown)); */
}

.dropdown-item{
    color: var(--bisque);
}

.navbar-brand{
    font-size: 1.5em;
    color: var(--blue);
}

.nav-item{
    align-self: center;
}

.nav-link{
    align-self: center;
    color: var(--dark);
}

/* .flash_message{
    font-size: 2em;
    text-shadow: 0px 0px 20px navy;
    color: red;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
} */

.navbar-dark{
    background-color: var(--blue);
}

.gradient-custom {
    background: var(--blue);
    
    background: linear-gradient(to right, var(--bisque), var(--blue));
}

.flashes {
    list-style: none;
    position: fixed;
    top: var(--navbar-height);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;  /* Adjust the width as needed */
    max-width: 400px;  /* Set a maximum width if desired */
    text-align: center;
    padding: 10px;
    background-color: #fff;  /* Set the background color */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);  /* Add a box shadow for style */
    z-index: 1000;  /* Ensure a high z-index to appear above other content */
}

.flashes.show {
    top: var(--navbar-height);
}

@keyframes slideUp {
    0% {
        top: var(--navbar-height);
    }
    100% {
        top: -100%;
    }
}

.flashes.slide-up {
    animation: slideUp 1.5s ease-in-out 4s forwards;  /* Adjust the duration and delay as needed */
}