body {
    background-image: url("assets/index_background.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

.page-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space elements evenly */
}

.content-left {
    text-align: center;
    padding: 2%;
    flex: 1; /* Occupy remaining space */
}

.my-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: var(--bisque);
    padding: 2%;
    display: inline-block; /* Adjust width to fit content */
    border-radius: 5%;
    max-width: 45%; /* Adjust the maximum width for larger screens */
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px black;
}

.form-group {
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.form-label {
    font-size: 1.1em;
    text-align: left;
}

.buttons {
    text-align: center;
}

.button {
    display: block;
    width: 100%; /* Make the button stretch to cover the whole width */
    padding: 10px 0; /* Adjust padding to center content vertically */
    background-color: var(--brown);
    color: white;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 5px 0px var(--brown);
}

.button:hover {
    background-color: var(--blue);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 767px) {
    .my-container {
        left: 50%; /* Center the container on smaller screens */
        max-width: 90%; /* Adjust the maximum width for smaller screens */
    }

    .form-group {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .button {
        margin-top: 10%;
    }
}
