body{
    background-image: url('assets/index_background.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
}

.Heading{
    text-shadow: 0px 0px 20px white, 0px 0px 10px var(--brown);
    font-weight: bold;
    color: var(--blue);
}

.Marquee{
    text-shadow: 0px 0px 20px white, 0px 0px 10px var(--brown);
    font-size: 2em;
    color: var(--bisque);   
}