body {
    background-image: url("assets/index_background.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

.my_container {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: var(--bisque);
    padding: 20px;
    border-radius: 5%;
    width: 30%;
    overflow: hidden;
    margin-top: 5%;
    box-shadow: 0px 0px 20px 0px black;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .profile-image {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
} */

.photo {
    border-radius: 50%;
    max-width: 100%;
    height: 100%; /* Adjust the size as needed */
    object-fit: cover;
    padding: 5%;
}

.username {
    font-size: 2em; /* Increase font size */
    font-weight: bold;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Center-align the text */
}

.about-me {
    margin-top: 20px;
    font-size: 1.1em; /* Increase font size */
    max-width: 70%; /* Set the maximum width to 100% */
    overflow-wrap: break-word; /* Allow word wrapping within the container */
}

.last-seen {
    margin-top: 10px;
    color: #777;
    font-size: 16px; /* Adjust font size */
}

.button {
    display: inline-block;
    text-align: center;
    padding: 15px 30px; /* Increase padding */
    width: 100%;
    margin-top: 30px;
    font-size: 1.2em; /* Increase font size */
    background-color: var(--brown);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px; /* Increase border radius */
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 8px 0px var(--brown); /* Increase box-shadow */
}

.button:hover {
    background-color: var(--blue);
}
