
<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    
       
    </head>
    <body>
    
        <div class="sidebar">
       
            <ul>
                <li><a class="nav-link" href="{{ url_for('register') }}">Sign Up</a></li>
                <li><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a></li>
                <li><a class="nav-link" href="{{ url_for('about_us') }}">About Us</a></li>
            </ul>
        </div>

     
        <nav class="navbar navbar-expand-lg navbar-dark gradient-custom border-bottom border-light">
            <div class="container">
                <button class="navbar-toggler" type="button" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        
                        {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        {% endif %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if not current_user.is_anonymous %}
                                <div class="User_Area">
                                    <img src="{{ url_for('static', filename='assets/user_icon.png') }}" class="User_Icon"></img>
                                    <p class="User_Name">{{ current_user.username }}</p>
                                </div>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu sidebar" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">Your Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const toggleButton = document.querySelector('.navbar-toggler');
                const sidebar = document.querySelector('.sidebar');

             
                toggleButton.addEventListener('click', function() {
                  
                    sidebar.classList.toggle('active');
                });
            });
        </script>
    </body>
</html>
